{% extends "animepage/base.html" %}

{% block title %} eliminar {{genre.name}} {% endblock %}

{% block content %}

 <section class="delete_container">

    <h2> ¿Esta seguro de que desea eliminar {{genre.name}}?
    <p class="delete_disclaimer"> Esta acción no se puede deshacer </p>

    <form method="post">
        {%csrf_token%}
        <button type="submit" class="btn btn-large" > Eliminar </button>
        <a href="{% url 'anime:config' %}"> Cancelar </a>
    </form>

 </section>

{%endblock%}