{% extends "animepage/base.html" %}

{% block title %} {{accion}} estado {% endblock %}

{% block content %}

    <section class="createStatus_section">

        <form class="createStatus_form" method="post">

            <h2> {{accion}} nuevo estado. </h2>
            
            {% csrf_token%}
            {{form.as_p}}

            <button type="submit" class="btn createStatus_btn"> {{accion}} </button> 
            <a href="{% url 'anime:config' %}"> Cancelar </a>
        </form>

    </section>

{% endblock %}